body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/fundo.png);
    font-family: sans-serif;
    letter-spacing: 0.5vh;

}

#titulo{

    font-size: 3.5vh;
    color: rgb(231, 240, 229);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;

    
    
}

#titulo img{
    display: inline-block;
    
}

.dificuldade h2{

    text-align: center;
    font-size: 4vh;
    color: rgb(240, 250, 245);
    margin-bottom: 1%;


}

.btn{

    width: 18vh;
    height: 6vh;
    font-size: 3.5vh;
    
}

.btn:hover{

    background-color: rgb(45, 90, 35);
    color:white;
    transition: 0.5s;
    
}
   
#snake{

    margin: 0;
    border: 3px solid rgb(104, 233, 104);
    position: static;
}